<section class="about" id="about">
  <div class="container">
    <div class="about__title">ABOUT US</div>
    <div class="about__disc">Lorem ipsum dolor sit amet event landing template</div>
    <div class="about-main">
      <div class="about-main__carusel carusel">
        <div class="carusel__bg"></div>
        <div class="owl-carousel owl-carousel-about owl-theme">
          <div class="carusel-item carusel-item-1"></div>
          <div class="carusel-item carusel-item-2"></div>
          <div class="carusel-item carusel-item-3"></div>
          <div class="carusel-item carusel-item-4"></div>
        </div>

      </div>
      <div class="about-main__caption caption">
        <p class="caption__title">We Actually Do amazing works</p>
        <p class="caption__disc">A visual approach is an approach to a runway at an airport 
            conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.</p>
        <p class="caption__disc">Preceding aircraft in approach correct sight. conducted under instrument flight rules.</p>
        <p class="caption__title">why we are the great?</p>
        <p class="caption__disc">A visual approach is an approach to a runway at an airport 
            conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.</p>
        
      </div>
    </div>
  </div>
</section>