<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__title">FOLLOW US</div>
    <div class="footer__icons">
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-stop-circle-o" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>

<div class="modal-wrapper">
    <!-- <div class="modal-overlay"></div>
    <div class="modal-form" data-modal="galery">
      <span>&times;</span>
      <img src="../src/img/work/1.png" alt="img"> 
    </div> -->
</div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="js/app.js"></script>
</body>
</html> 