<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>testPage</title>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700|Raleway&display=swap&subset=cyrillic" rel="stylesheet">
  <!-- /font -->
   
  <link rel="shortcut icon" href="favicon.ico" type="image/png"> 
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__wrap header__wrap-menu">
        <a href="index.html">
          <div class="header__logo"></div>
        </a>
        <div class="header__btnMenu">
          <span></span>
        </div>
        <nav class="header__menu menu">
          <a href="#about" class="menu__link">ABOUT US</a>
          <a href="#works" class="menu__link">featured works</a>
          <a href="#services" class="menu__link">our services</a>
          <a href="#team" class="menu__link">small team</a>
          <a href="#reviews" class="menu__link">what they says</a>
          <a href="#contact" class="menu__link">contact</a>
        </nav>
      </div>
      <div class="header__wrap header__wrap-middle">
        <div class="header__title">
            Say Hello to <span>SHOPNO!</span><br>
          <span>Agency</span> CORPORATE SHOPNO Theme
        </div>
        <a href="#contact" class="header__link">CONTACT US</a>
        <span class="header__juice"></span>
      </div>
    </div>
  </header>

