<section class="logos">
  <h2></h2>
  <div class="container">
    <div class="logos-row logos-row__firstRow">
      <div class="logos-row__item logos-row__item-rko"></div>
      <div class="logos-row__item logos-row__item-audioPro"></div>
      <div class="logos-row__item logos-row__item-infinity"></div>
    </div>
    <div class="logos-row logos-row__secondRow">
      <div class="logos-row__item logos-row__item-sport"></div>
      <div class="logos-row__item logos-row__item-swan"></div>
      <div class="logos-row__item logos-row__item-swanser"></div>
      <div class="logos-row__item logos-row__item-audioPro"></div>
      <div class="logos-row__item logos-row__item-rko"></div>
      <div class="logos-row__item logos-row__item-infinity"></div>
    </div>
  </div>
</section>