<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews__title">what they says</div>
    <h2 class="reviews__disc">Lorem ipsum dolor sit amet event landing template</h2>
    <div class="reviews-main">
        <div class="reviews-main__carusel carusel">
          <div class="carusel__bg"></div>
          <div class="owl-carousel owl-carousel-reviews owl-theme">
            <div class="carusel-item carusel-item-1" data-value="0"></div>
            <div class="carusel-item carusel-item-2" data-value="1"></div>
            <div class="carusel-item carusel-item-3" data-value="2"></div>
            <div class="carusel-item carusel-item-4" data-value="3"></div>
          </div>
        </div>
        <div class="reviews-main__card card">
          <div class="card-wrapper">
            <button class="card-btn card-btn__left"></button>
            <button class="card-btn card-btn__right"></button>
            <div class="card__item" data-value="0">
              <div class="card__title">AL RAYHAN <span>/ UI/UX DESIGNER</span></div>
              <p class="card__disc">Lorem Ipsum is simply dummy text of the printing and you 
                  standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <div class="card__star"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
            </div>
            <div class="card__item" data-value="1">
              <div class="card__title">TWO RAYHAN <span>/ UI/UX DESIGNER</span></div>
              <p class="card__disc">Lorem Ipsum is simply dummy text of the printing and you 
                  standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <div class="card__star"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
            </div>
            <div class="card__item" data-value="2">
              <div class="card__title">THREE RAYHAN <span>/ UI/UX DESIGNER</span></div>
              <p class="card__disc">Lorem Ipsum is simply dummy text of the printing and you 
                  standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <div class="card__star"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
            </div>
            <div class="card__item" data-value="3">
              <div class="card__title">FOUR RAYHAN <span>/ UI/UX DESIGNER</span></div>
              <p class="card__disc">Lorem Ipsum is simply dummy text of the printing and you 
                  standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <div class="card__star"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>