<section class="services" id="services">
  <div class="container">
    <div class="services__title">our services</div>
    <h2 class="services__disc">Lorem ipsum dolor sit amet event landing template</h2>
    <div class="services__wrapper">
      <div class="services__block">
        <div class="services__item big">
          <div class="big-front">
            <div class="big-img"></div>
            <div class="big-overlay"></div>
            <div class="big-disc">
                <p class="big-disc__title">Designing is The CooL LOVE FOR.</p>
                <p class="big-disc__caption">Our most popular service is our Virtual Receptionist. We know that ...</p>
                <button class="big-disc__btn showMessage">Know More</button>
            </div>
          </div>
          <div class="big-back modalMessage">
              <div class="big-back-disc">
                  <p class="big-back-disc__title">Designing is The CooL LOVE FOR.</p>
                  <p class="big-back-disc__caption">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.</p>
                  <button class="big-back-disc__btn hideMessage">&times;</button>
              </div>
          </div>

        </div>
        <div class="services__item small">
            <div class="small-front">
                <div class="small-img"></div>
                <div class="small-overlay"></div>
                <div class="small-disc">
                    <p class="small-disc__title">Designing is The Cool</p>
                    <p class="small-disc__caption">Our most popular service is our Virtual Receptionist. We know that ...</p>
                    <button class="small-disc__btn showMessage">Know More</button>
                </div>
              </div>
              <div class="small-back modalMessage">
                  <div class="small-back-disc">
                      <p class="small-back-disc__title">Designing is The CooL LOVE FOR.</p>
                      <p class="small-back-disc__caption">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five.</p>
                      <button class="small-back-disc__btn hideMessage">&times;</button>
                  </div>
              </div>
        </div>
      </div>
      <div class="services__block">
          <div class="services__item big">
            <div class="big-front">
              <div class="big-img"></div>
              <div class="big-overlay"></div>
              <div class="big-disc">
                  <p class="big-disc__title">Designing is The Cool</p>
                  <p class="big-disc__caption">Our most popular service is our Virtual Receptionist. We know that ...</p>
                  <button class="big-disc__btn showMessage">Know More</button>
              </div>
            </div>
            <div class="big-back modalMessage">
                <div class="big-back-disc">
                    <p class="big-back-disc__title">Designing is The Cool</p>
                    <p class="big-back-disc__caption">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.</p>
                    <button class="big-back-disc__btn hideMessage">&times;</button>
                </div>
            </div>
  
          </div>
          <div class="services__item small">
              <div class="small-front">
                  <div class="small-img small-img-psd"></div>
                  <div class="small-overlay"></div>
                  <div class="small-disc">
                      <p class="small-disc__title">PSD TO HTML KORI</p>
                      <p class="small-disc__caption">Our most popular service is our Virtual Receptionist. We know that ...</p>
                      <button class="small-disc__btn showMessage">Know More</button>
                  </div>
                </div>
                <div class="small-back modalMessage">
                    <div class="small-back-disc">
                        <p class="small-back-disc__title">PSD TO HTML KORI</p>
                        <p class="small-back-disc__caption">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five.</p>
                        <button class="small-back-disc__btn hideMessage">&times;</button>
                    </div>
                </div>
          </div>
        </div>
        <div class="services__block services__block-reverse">
          <div class="services__item big">
            <div class="big-front">
              <div class="big-img"></div>
              <div class="big-overlay"></div>
              <div class="big-disc">
                  <p class="big-disc__title">Designing is The Cool</p>
                  <p class="big-disc__caption">Our most popular service is our Virtual Receptionist. We know that ...</p>
                  <button class="big-disc__btn showMessage">Know More</button>
              </div>
            </div>
            <div class="big-back modalMessage">
                <div class="big-back-disc">
                    <p class="big-back-disc__title">Designing is The Cool</p>
                    <p class="big-back-disc__caption">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.</p>
                    <button class="big-back-disc__btn hideMessage">&times;</button>
                </div>
            </div>
  
          </div>
          <div class="services__item small">
              <div class="small-front">
                  <div class="small-img small-img-psd"></div>
                  <div class="small-overlay"></div>
                  <div class="small-disc">
                      <p class="small-disc__title">PSD TO HTML KORI</p>
                      <p class="small-disc__caption">Our most popular service is our Virtual Receptionist. We know that ...</p>
                      <button class="small-disc__btn showMessage">Know More</button>
                  </div>
                </div>
                <div class="small-back modalMessage">
                    <div class="small-back-disc">
                        <p class="small-back-disc__title">PSD TO HTML KORI</p>
                        <p class="small-back-disc__caption">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five.</p>
                        <button class="small-back-disc__btn hideMessage">&times;</button>
                    </div>
                </div>
          </div>
        </div>
    </div>
  </div>
</section>