<section class="team" id="team">
  <div class="container">
    <div class="team__title">small team</div>
    <div class="team__disc">Lorem ipsum dolor sit amet event landing template</div>
    <div class="team-wrapper">
      <div class="team-wrapper__item team-wrapper__item-1">
        <div class="team-alert">
           <div class="team-alert__name">AL RAYHAN <span>/ UI Designer</span></div> 
           <p class="team-alert__disc">Lorem Ipsum is not simply is  an action designer random text
              It has roots in a piece. </p>
            <div class="team-alert__icons">
              <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-stop-circle-o" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>
        </div>
      </div>
      <div class="team-wrapper__item team-wrapper__item-2">
          <div class="team-alert">
              <div class="team-alert__name">Ivan Dorn <span>/ UI Designer</span></div> 
              <p class="team-alert__disc">Lorem Ipsum is not simply is  an action designer random text
                 It has roots in a piece. </p>
               <div class="team-alert__icons">
                 <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-stop-circle-o" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
               </div>
           </div>
      </div>
      <div class="team-wrapper__item team-wrapper__item-3">
          <div class="team-alert">
              <div class="team-alert__name">Coca Cola <span>/ UI Designer</span></div> 
              <p class="team-alert__disc">Lorem Ipsum is not simply is  an action designer random text
                 It has roots in a piece. </p>
               <div class="team-alert__icons">
                 <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-stop-circle-o" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
               </div>
           </div>
      </div>
      <div class="team-wrapper__item team-wrapper__item-4">
          <div class="team-alert">
              <div class="team-alert__name">Alax Ahmed <span>/ UI Designer</span></div> 
              <p class="team-alert__disc">Lorem Ipsum is not simply is  an action designer random text
                 It has roots in a piece. </p>
               <div class="team-alert__icons">
                 <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-stop-circle-o" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
               </div>
           </div>
      </div>
      <div class="team-wrapper__item team-wrapper__item-5">
          <div class="team-alert">
              <div class="team-alert__name">Pikacu Azic <span>/ UI Designer</span></div> 
              <p class="team-alert__disc">Lorem Ipsum is not simply is  an action designer random text
                 It has roots in a piece. </p>
               <div class="team-alert__icons">
                 <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-stop-circle-o" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
               </div>
           </div>
      </div>
      <div class="team-wrapper__item team-wrapper__item-6">
          <div class="team-alert">
              <div class="team-alert__name">Freelance Mode<span>/ UI Designer</span></div> 
              <p class="team-alert__disc">Lorem Ipsum is not simply is  an action designer random text
                 It has roots in a piece. </p>
               <div class="team-alert__icons">
                 <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-stop-circle-o" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
               </div>
           </div>
      </div>
    </div>
  </div>
</section>